<template>
  <div class="calendars-page">
    <Transition appear name="fade-down">
      <calendarPanels ref="panels" />
    </Transition>
    <div class="calendar-wrapper">
      <Transition name="mador-change">
        <calendarPage class="calendar-page" :calendars="calendarsToShow" v-show="calendarsToShow.length" />
      </Transition>
    </div>
  </div>
</template>

<script>
import calendarPage from '../components/calendar-page.vue'
import calendarPanels from '../components/calendar-panels.vue'

export default {
  data() {
    return {
      showCalendars: false
    }
  },
  mounted() {
    this.showCalendars = true
  },
  methods: {
    toggleCalendar(mador, year) {
      this.$store.commit('toggleCalendar', { mador, year });
    }
  },
  computed: {
    calendarsToShow() {
      return this.$store.state.historyCalendars && this.showCalendars ?
        this.$store.state.historyCalendars.filter( cal => cal.selected == true )
      : []
    }
  },
  components: {
    calendarPage,
    calendarPanels
  },
  provide() {
    return {
      toggleCalendar: this.toggleCalendar
    }
  }
}

</script>

<style>

.calendar-wrapper {
  position: relative;
  width: 100%;
}

.mador-change-enter-active,
.mador-change-leave-active {
  transition: opacity .5s ease, transform .5s ease;
  top: 0;
}

.mador-change-enter-from,
.mador-change-leave-to {
  position: absolute !important;
  opacity: 0;
  transform: translateY(5rem);
}

</style>