<template>
  <div class="home-page">
    <Transition appear name="fade-down">
      <div class="home-logo">
          <!-- <div class="home-title">
            גרפונט
          </div>
          <span class="home-text">ראו את המשימות שלכם בקלות וביעילות.</span> -->
          <!-- <img src="../assets/calendar-logo.png"> -->
          <img src="../assets/graphonetLogo.svg">
      </div>
    </Transition>
    <Transition appear name="fade-up">
      <div class="home-splits">
        <div class="split" v-for="route in homeRoutes" :key="route">
          <router-link class="split-content" :to="route.to">
            <img :src="require(`../assets/${route.img}`)">
            <span class="split-text">{{route.name}}</span>
          </router-link>
        </div>
      </div>
    </Transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      homeRoutes: [
        {
          to: '/calendars',
          img: 'calendar.svg',
          name: 'לוח שנה'
        },
        {
          to: '/lists',
          img: 'list.svg',
          name: 'רשימות'
        }
      ]
    }
  }
}
</script>

<style>

/* mobile */
@media screen and (max-width: 700px) {
  .home-page {
    font-size: 0.6em;
  }

  .home-logo img {
    margin-top: 3em !important;
    width: 30rem !important;
  }

  .home-splits {
    align-content: flex-end !important;
    margin: 1em 0 !important;
  }

  .split {
    min-width: 100% !important;
    margin: 1em 0 !important;
    display: flex;
    font-size: .75em;
    height: 25em !important;
  }

  .split-content {
    background: #fff;
    box-shadow: 0 0 5px hsl(0, 0%, 90%);
    padding: 2em;
    margin: 0 2em;
    border-radius: 5em;
    width: 100% !important;
    align-items: center !important;
    --textOpacity: 1 !important;
    --imgBrightness: 150% !important;
  }

  .split-text {
    width: fit-content !important;
  }
}

.home-page {
  display: grid;
  grid-template-rows: auto auto;
}

/*  */

.home-title {
  background-image: linear-gradient(to right, #D8D8FF,#ECD5CC,#CDE8CC,#FFE9DF);
  background-clip: text;
  color: transparent !important;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #aaa;
  text-align: center;
  font-size: 18em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-bottom: -.2em;
  margin-top: -.3em;
}

.home-logo {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
}

.home-logo img {
  width: 55rem;
  max-width: 95%;
}

.home-text {
  margin: 0 .5em;
  padding: .1em .2em;
  font-size: 1.8em;
  color: #aaa;
}

/*  */

.home-splits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 2em 0;
}

.split {
  --width: 25rem;
  height: 22em;
  min-width: var(--width);
  font-size: .9em;
  margin: 0 1em;
}

.split-content {
  padding: 2em;
  border-radius: 5em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: width .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out;
  width: 100%;
  height: 100%;
  --textOpacity: .8;
  --imgBrightness: 150%;
  --imgWidth: 13.5em;
  background: #fff;
  box-shadow: 0 0 20px hsl(0, 0%, 90%);
}

.split-content:hover {
  --textOpacity: 1;
  --imgOpacity: 1;
  --imgWidth: 11em;
  --imgBrightness: 100%;
}

.split img {
  width: var(--imgWidth);
  transition: filter .2s ease-out, width .2s ease-out;
  filter: brightness(var(--imgBrightness));
}

.split-text {
  color: transparent !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #333;
  width: fit-content;
  font-size: 5em;
  white-space: nowrap;
  margin: auto;
  font-weight: bold;
  opacity: var(--textOpacity);
  transition: opacity .2s ease-out;
}

</style>
