<template>
<Transition appear name="fade-down">
  <div class="lists-page">
    <PagePanels @mador="changeList" :currlists="lists"/>
    <ListsNav :monthToShow="monthToShow" :lists="lists" @changeMonth="changeMonth" v-if="lists.length > 0" />
    <div class="mador-wrapper">
      <transition-group name="mador-change">
        <MadorList :monthToShow="monthToShow" v-for="list in lists" :mador="list.mador" :year="list.year" :key="list"/>
      </transition-group>
    </div>
  </div>
</Transition>
</template>

<script>
import PagePanels from '../components/listPagePanels.vue'
import ListsNav from '../components/lists-month-nav.vue'
import MadorList from '../components/list-mador.vue'

export default {
  data() {
    return {
      lists: [],
      monthToShow: 'all'
    }
  },
  methods: {
    changeList(madorAndYear) {
      this.lists = [{...madorAndYear}]
    },
    changeMonth(month) {
      this.monthToShow = month
    }
  },
  components: {
    PagePanels,
    ListsNav,
    MadorList
  }
}
</script>

<style>

.lists-page {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mador-wrapper {
  position: relative;
  width: 100%;
}

</style>