<template>
  <div class="calendar-legend">
    <div class="legend" :style="{'--color': '#87B187'}">
      <div class="text">בוצע</div>
    </div>
    <div class="legend" :style="{'--color': '#C4C490'}">
      <div class="text">בביצוע</div>
    </div>
    <div class="legend" :style="{'--color': '#D26868'}">
      <div class="text">חורג</div>
    </div>
    <div class="legend" :style="{'--color': '#61A7F2'}">
      <div class="text">בתכנון</div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style scoped>
@media screen and (max-width: 700px) {
  .calendar-legend {
    display: none !important;
  }
}

.calendar-legend {
  z-index: 100;
  position: absolute;
  top: -2.25em;
  right: 2rem;
  font-size: 1.1em;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}

.legend {
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .05em .2em;
  margin: 0 .2em;
  border-radius: .5em;
  background-color: var(--color);
}

.legend .text {
  margin-top: .1em;
  margin-bottom: 0.3em;
  padding: 0 .25em;
}
</style>