<template>
  <div>
    <searchPanel ref="search"></searchPanel>
    <historyPanel ref="history"></historyPanel>
  </div>
</template>

<script>
import searchPanel from './searchPanel.vue'
import historyPanel from './historyPanel.vue'

export default {
  methods: {
    closePanels() {
      this.$refs.search.openPanel = false
    },
    clickedSearchResult(item) {
      this.hasHistory = !!localStorage.getItem("searches");
      if (this.hasHistory) {
        let history = JSON.parse(localStorage.getItem("searches"));
        if (JSON.stringify(history).indexOf(JSON.stringify(item)) == -1) {
          history.push(item);
        }
        history = JSON.stringify(history);
        localStorage.setItem("searches", history)
      } else {
        let history = JSON.stringify([item]);
        localStorage.setItem("searches", history)
      }
      let indexOfItemInHistoyList = JSON.stringify(this.$refs.history.historyItemsArr).indexOf(JSON.stringify(item))
      if (indexOfItemInHistoyList == -1) {
        this.$refs.history.addHistoryItem(item);
        this.$store.state.historyCalendars.push({
          mador: item[0],
          year: item[1],
          selected: true
        })
      }
      Promise.resolve().then(()=> {
        this.closePanels();
      })
    }
  },
  components: {
    searchPanel,
    historyPanel
  },
  provide() {
    return {
      clickedSearchResult: this.clickedSearchResult,
      closePanels: this.closePanels
    }
  }
}
</script>

<style>

.search-history.closed, .search-panel.closed {
  height: 4em !important;
}

.panel-arrow {
  position: absolute;
  bottom: 0;
  padding: .5em;
  --color: #bbb;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
}

.panel-arrow:hover {
  --color: #333;
}

.panel-title {
  margin: .5em;
  font-size: 2em;
  transition: margin .5s ease, font-size .5s ease;
}

.closed .panel-title {
  margin-top: .5em;
  margin-bottom: 3em;
  font-size: 1.2em;
}


.result {
  user-select: none;
  font-weight: 700;
  cursor: pointer;
  background-color: #fff;
  color: #666;
  font-size: 1.5em;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  box-shadow: 0 0 0.5em #ddd;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.5em;
  border-radius: 0.5em;
  height: 2em;
  transition: background-color .1s;
}

.arrow {
  --size: .3em;
  border: solid var(--color);
  border-width: 0 var(--size) var(--size) 0;
  display: inline-block;
  padding: var(--size);
  transition: transform .5s;
}

.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


</style>