<template>
<div class="calendar-wrapper" :style="{'--zoom': zoom+'em'}">
  <easy-spinner v-if="!calendarLoaded" color="#bbb" type="circular" size="5em" />
  <div class="calendar-nav" v-if="showCalendar">
    <div class="nav-bar-1">
      <span class="nav-arrow" @click="changeMonthToShow(monthToShow-1)">
        <img src="../assets/right-arrow.svg">
      </span>
      <span v-wave class="nav-today" @click="changeMonthToShow(findcurrMonth.month)" v-if="findcurrMonth">היום</span>
      <span class="nav-arrow" @click="changeMonthToShow(monthToShow+1)">
        <img src="../assets/left-arrow.svg">
      </span>
    </div>
    <div class="nav-bar-2">
      <span v-wave class="nav-btn" v-for="btn in navButtons"
       :key="btn" @click="changeMonthToShow(btn)"
       :class="{'curr-month-btn': findcurrMonth && btn == findcurrMonth.month, 'hastasks-btn': findMonth(btn).tasks.length, 'shownmonth-btn': btn == monthToShow}">{{btn}}</span>
    </div>
  </div>
  <div class="calendar-title">
    <MadorTitle :titles="titles"/>
  </div>
  <div class="calendar">
    <Calendar v-for="monthData in months" :key="monthData.name"
     :monthData="monthData"
     :monthToShow="monthToShow"
     @changeZoom="changeZoom"
    />
  </div>
</div>
</template>

<script>
import fetchCalendar from "../calendarJSON/index"
import MadorTitle from './madorTitle.vue'
import Calendar from "./calendar-month.vue"

export default {
  props: ["calendars"],
  watch: {
    calendars() {
      this.setCalendarData(this.calendars)
    }
  },
  data() {
    return {
      titles: [],
      zoom: 1,
      mounted: false,
      calendarLoaded: true,
      showCalendar: false,
      months: [],
      monthToShow: 1,
      navButtons: [1,2,3,4,5,6,7,8,9,10,11,12]
    }
  },
  methods: {
    async setCalendarData(calendars) {
      let yearToShow = null
      this.showCalendar = false
      this.months = []
      let titles = []
      if (calendars.length) {
        this.calendarLoaded = false
        let calendar = await fetchCalendar(calendars[0].mador,calendars[0].year)
        titles.push({mador: calendars[0].mador, year: calendars[0].year, color: calendar.color})
        let calendarData = calendar.calendar
        calendarData = calendarData.map(a => {return {...a}})
        if (!yearToShow) yearToShow = calendars[0].year
        for (let i = 1; i < calendars.length; i++) {
          if (yearToShow != calendars[i].year) break
          let cal = await fetchCalendar(calendars[i].mador,calendars[i].year)
          titles.push({mador: calendars[i].mador, year: calendars[i].year, color: cal.color})
          let calData = cal.calendar
          for (let j = 0; j < 12; j++) {
            calendarData[j].tasks = calendarData[j].tasks.concat(calData[j].tasks)
          }
        }
        this.months = calendarData
        if (this.findcurrMonth != undefined && !this.mounted) {
          this.monthToShow = this.findcurrMonth.month
        }
        this.titles = titles
        this.calendarLoaded = true
        this.showCalendar = true
        this.mounted = true
      }
    },
    changeMonthToShow(num) {
      if (num < 13 && num > 0) {
        this.monthToShow = num
      }
    },
    findMonth(num) {
      return this.months.find(month => month.month == num)
    },
    changeZoom(num) {
      if (!num) this.zoom = 1
      else {
        this.zoom += num
        if (this.zoom < .6) this.zoom = .5
        if (this.zoom > 2) this.zoom = 2
      }
    }
  },
  components: {
    MadorTitle,
    Calendar
  },
  computed: {
    findcurrMonth() {
      return this.months.find(month => month.currMonth)
    }
  }
  
};
</script>

<style>
.calendar-wrapper {
  perspective: 2000px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: .5em 0;
}

.calendar {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transition: transform 1s;
  margin-top: 3.5em;
}

.calendar-nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.calendar-nav * {
  user-select: none;
  transition: background-color .2s, color .2s, filter .2s;
}

.nav-bar-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
}

.nav-arrow {
  font-weight: bold;
  border-radius: 50%;
  color: #bbb;
  user-select: none;
  z-index: 10;
  cursor: pointer;
  font-size: 2em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-arrow:hover {
  filter: brightness(0%);
}

.nav-today {
  cursor: pointer;
  border: 1px solid #eee;
  color: #999;
  background: #fff;
  padding: .5em 1em;
  border-radius: .5em;
}

.nav-bar-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav-btn {
  cursor: pointer;
  margin: .5em;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: .5em;
  border: 1px solid #eee;
  color: #999;
  background: #fff;
}

.nav-today:hover, .nav-btn:hover{
  filter: brightness(95%);
}

.curr-month-btn {
  background: rgb(235,246,229);
  background: #f6fff1;
}

.hastasks-btn {
  border: .3em solid rgb(246, 246, 229);
}

.shownmonth-btn {
  color: rgb(0, 98, 204);
  font-weight: bold;
  background: rgb(225, 239, 255);
}

.calendar-title {
  font-size: .9em;
  width: 100%;
}

</style>