<template>
  <div class="calendar-zoom">
    <div v-wave class="zoom-btn" @click="handleClick(.2)">+</div>
    <!-- <div v-wave class="zoom-btn reset" @click="handleClick(null)">1</div> -->
    <div v-wave class="zoom-btn" @click="handleClick(-.2)">-</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      zoom: 1
    }
  },
  methods: {
    handleClick(num) {
      this.$emit('changeZoom', num)
    }
  }
}
</script>

<style scoped>
@media screen and (max-width: 700px) {
  .calendar-zoom {
    display: none !important;
  }
}

.calendar-zoom {
  z-index: 100;
  position: absolute;
  top: -1.41em;
  left: 2rem;
  font-size: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.zoom-btn {
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
  margin: .25rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #fff;
  transition: filter .2s;
}

.zoom-btn:hover {
  filter: brightness(95%);
}

.zoom-btn.reset {
  font-size: .6em;
  align-items: center;
}

</style>