<template>
  <Transition name="month-change">
  <div class="month-wrapper" v-if="monthData.month == monthToShow">
    <CalendarZoom @changeZoom="(zoom) => this.$emit('changeZoom', zoom)" />
    <CalendarLegend />
    <div class="month" :name="monthData.name" :class="{'curr-month': monthData.currMonth}" >
      <div class="weekDay" :key="dayName" v-for="dayName in dayNames" :class="{'weekend': dayName == 'שבת' || dayName == 'שישי'}">{{dayName}}</div>
      <Day :key="day.day" v-for="day in daysArr" :dayData="day"/>
      <div class="tasks-wrapper" ref="taskweeks">
        <div v-for="week in weeks" :key="week" class="task-week">
          <span class="span-grid"></span>
          <transition-group name="task">
          <div class="task" v-for="task in tasks['week'+week]" 
          :style="taskStyle(task)" 
          :key="task.task"
          @click="popup(task)"
          >
            <span class="back-arrow" v-if="task.backArrow">&#8594;</span>
            <div class="task-color"></div>
            <div class="task-text">
              {{task.task}}
            </div>
            <span class="front-arrow" v-if="task.frontArrow">&#8592;</span>
          </div>
          </transition-group>
        </div>
      </div>
    </div>
    <popupTask ref="popup"/>
  </div>
  </Transition>
</template>

<script>
import Day from "./day"
import popupTask from '../components/popupTask.vue'
import CalendarZoom from './calendar-zoom.vue'
import CalendarLegend from './calendar-legend.vue'


export default {
  props: ['monthData', 'monthToShow'],
  data() {
    return {
      daysArr: this.monthData.days,
      dayNames: ["ראשון", "שני", "שלישי", "רביעי", "חמישי", "שישי", "שבת"],
      weeks: [1,2,3,4,5,6],
      tasksData: this.monthData.tasks,
      tasks: {week1:[],week2:[],week3:[],week4:[],week5:[],week6:[]}
    }
  },
  mounted() {
    // push tasks to weeks
    for (let task of this.tasksData) {

      let startWeek = this.getWeekOfMonth(task.startdate);
      let endWeek = this.getWeekOfMonth(task.enddate);

      for (let i = startWeek; i <= endWeek; i++) {
        let tempTask = {...task};
        tempTask.endday = tempTask.enddate.getDay()+2;
        tempTask.startday = tempTask.startdate.getDay()+1;
        if (startWeek < endWeek) {
          if (i == startWeek) {
            tempTask.endday = 8;
            tempTask.frontArrow = true;
          } else if (i == endWeek) {
            tempTask.startday = 1;
            tempTask.backArrow = true;
          } else if (i > startWeek && i < endWeek){
            tempTask.endday = 8;
            tempTask.startday = 1;
            tempTask.frontArrow = true;
            tempTask.backArrow = true;
          }
        }
        this.tasks['week'+i].push(tempTask)
      }
    }
  },
  components: {
    CalendarZoom,
    CalendarLegend,
    Day,
    popupTask
  },
  methods: {
    taskStyle(task) {
      return {
        'grid-column': `${task.startday}/  ${task.endday}`,
        '--color': task.color,
        '--statusColor': task.statusColor,
      }
    },
    getWeekOfMonth(date) {
      return Math.floor((date.getDate()+(this.monthData.firstWeekDay-2)) / 7)+1;
    },
    popup(task) {
      this.$refs.popup.popup(task)
    },
  },
  provide() {
    return {
      changeCalendar: this.changeCalendar,
      popup: this.popup
    }
  }
};
</script>

<style>

.month-change-enter-active,
.month-change-leave-active {
  transition: transform 0.5s ease, opacity .5s ease;
  top: 0;
}

.month-change-enter-from,
.month-change-leave-to {
  position: absolute !important;
  opacity: 0;
  transform: scale(.95);
}

.task-enter-active,
.task-leave-active {
  transition: opacity .1s linear !important;
}

.task-enter-from,
.task-leave-to {
  opacity: 0;
}

.month-wrapper {
  direction: rtl;
  position: relative;
  width: 95%;
  min-width: min-content;
  --dayHeight: 15em;
  margin-bottom: 1em;
}

.tasks-wrapper {
  height: calc(100% - 3em);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-rows: repeat(5, var(--dayHeight));
  grid-gap: 1em;
  padding: 0 .5em;
}

.task-week {
  font-size: var(--zoom);
  height: 100%;
  border-radius: 0.5em;
  position: relative;
  display: grid;
  column-gap: .5em;
  grid-template-rows: 1.6rem;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(3.2em, 4em);
  overflow-x: hidden;
}

.span-grid {
  grid-column: span 7;
}

.task::before {
  z-index: -2;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: var(--statusColor);
}

.task::after {
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(255, 255, 255, .4);
}

.task {
  z-index: 1;
  position: relative;
  font-size: .9em;
  cursor: pointer;
  overflow: hidden;
  margin: .1em 0;
  padding: .3em .5em;
  color: #fff;
  font-weight: bold;
  border-radius: .5em;
  text-align: center;
  white-space: nowrap;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter .2s;
}

.task:hover {
  filter: brightness(95%);
}

.task:active {
  filter: brightness(90%);
}

.task-text {
  z-index: 1;
  position: relative;
  max-width: fit-content;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2em;
  padding: .1em .4em;
  border-bottom: 2.5px solid var(--color);
}

.task-color {
  font-size: 1.2em;
  margin-bottom: -.2em;
  margin-right: .5em;
  border-radius: 1em 1em 1em 0;
  color: rgba(255, 255, 255, 0.8);
  height: 1.5em;
  width: 1.5em;
  background: var(--color);
}

.back-arrow, .front-arrow {
  font-size: 1.5em;
}

.month {
  background: #fff;
  position: relative;
  display: grid;
  grid-template: 1.5em / repeat(7, 1fr);
  grid-auto-rows: 1fr;
  row-gap: 1em;
  column-gap: .5em;
  padding: .5em;
  border-radius: 1em;
  box-shadow: 0 0 2em hsl(228deg 15% 94%);
}

.month::before {
  color: #666;
  background: var(--dayColor);
  font-size: 1.5em;
  content: attr(name);
  position: absolute;
  left: 0%;
  top: 0;
  width: 100%;
  height: 2em;
  transform: translate(0, -90%);
  padding-bottom: .2em;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em 2em 0 0;
  box-shadow: 0 0 2em hsl(228deg 15% 94%);
}

.curr-month::before {
  background: #f6fff1;
}

.weekDay {
  color: #888;
  text-align: center;
}

.weekDay.weekend {
  color: rgb(255, 186, 186);
}
  
</style>
