<template>
  <div class="day" :style="dayStyle" :class="{'curr-day': dayData.currDay}">
    <div class="day-num">
      {{dayData.day}}
    </div>
  </div>
</template>

<script>
export default {
  props: ['dayData', 'weekDay'],
  data() {
    return {
    }
  },
  computed: {
    dayStyle() {
      return {
        'grid-column': this.dayData.weekDay
      }
    }
  }
}
</script>

<style>
.day {
  pointer-events: none;
  background: var(--dayColor);
  border-radius: 0.5em;
  height: var(--dayHeight);
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.day-num {
  z-index: 10;
  border-radius: 50%;
  color: #888;
  /* background: rgba(255, 255, 255, 0.5); */
  height: 1.5em;
  width: 1.5em;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.curr-day {
  background: #f6fff1;
}
</style>