<template>
<footer>
  <div>צוות פלא &copy; 2021</div>
  <div>פותח על ידי עומר כהן</div>
</footer>
</template>

<script>
export default {

}
</script>

<style>

  footer {
    z-index: 1;
    width: 100%;
    height: 5em;
    background: #333;
    box-shadow: 0 0 1em var(--shadowColor);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #888;
  }

</style>