<template>
<header :class="{'open': atTop}">
  <router-link to="/home" class="header-router">
    <span class="header-logo">גרפונט</span>
  </router-link>
  <!-- <login class="pc-login" /> -->
  <div class="nav-bar">
    <router-link :to="'/'+link[0]" v-for="link in navLinks" :key="link[0]" class="nav-link" :class="{'curr-route': currentRouteName == link[0]}">
      <span class="nav-text" >{{link[1]}}</span>
      <span class="underline"></span>
    </router-link>
  </div>
  <div class="mobile-nav">
    <div class="icon-container" :class="{'open': mobileNavOpen}" @click="changeLogo">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <Transition name="fade">
    <div class="mobile-nav-backdrop" v-show="mobileNavOpen" @click="mobileNavOpen =  false">
      <div class="mobile-nav-menu">
        <!-- <login class="mobile-login" /> -->
        <router-link :to="'/'+link[0]" v-for="link in navLinks" :key="link[0]" class="nav-link">
          <span class="nav-text" >{{link[1]}}</span>
          <span class="underline"></span>
        </router-link>
      </div>
    </div>
  </Transition>
  </div>
</header>
</template>

<script>
// import Login from './login.vue'

export default {
  data() {
    return {
      navLinks: [
        ['home', 'עמוד הבית'],
        ['calendars', 'לוח שנה'],
        ['lists', 'רשימות']
      ],
      mobileNavOpen: false,
      scrollHeight: 0,
      interval: null,
    }
  },
  mounted() {
    window.addEventListener("scroll", this.onScroll)  
  },
  beforeUnmount() {
    window.removeEventListener("scroll", this.onScroll)
  },
  methods: {
    changeLogo() {
      this.mobileNavOpen = !this.mobileNavOpen;
    },
    onScroll() {
      this.scrollHeight = window.top.scrollY
    }
  },
  computed: {
    currentRouteName() {
      return this.$route.name;
    },
    atTop() {
      return this.scrollHeight == 0
    }
  },
  components: {
    // Login
  }
}
</script>

<style>

  /* mobile */
  @media screen and (max-width: 700px) {
    .nav-bar {
      display: none !important;
    }
    .mobile-nav {
      display: block !important;
    }
    .pc-login {
      display: none !important;
    }
  }

  /* pc */
  @media screen and (min-width: 700px) {
    .nav-bar {
      display: flex !important;
    }
    .mobile-nav {
      display: none !important;
    }
  }

  header {
    position: relative;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: var(--headerHeight);
    background: #fff;
    box-shadow: 0 0 1em var(--shadowColor);
    display: flex;
    align-items: center;
    transition: box-shadow .2s;
  }

  header.open {
    box-shadow: none;
  }

  .header-router {
    margin-top: -.5em;
  }

  .header-logo {
    font-size: 2.5em;
    padding: 0em 2rem;
    cursor: pointer;
    font-weight: bold;
    -webkit-text-fill-color: #ddd;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #aaa;
  }

  .nav-bar {
    margin-right: auto;
    width: fit-content;
    padding: 0em 2rem;
    font-size: 1.2em;
    display: flex;
    flex-direction: row-reverse;
  }

  .nav-link {
    border-radius: .5em;
    color: #bbb;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    --color: #bbb;
    --underlineWidth: 0%;
  }

  .nav-link:hover {
    --color: #bbb;
    --underlineWidth: 40%;
  }

  .router-link-active.nav-link {
    --color: #333;
    --underlineWidth: 80%;
  }

  .nav-text {
    color: var(--color);
    white-space: nowrap;
    padding: .1em .5em;
  }

  .underline {
    height: .1em;
    width: var(--underlineWidth);
    background: var(--color);
    transition: width .1s;
  }


.mobile-nav { 
  margin-right: auto;
  height: 100%;
}

.mobile-nav-backdrop {
  height: calc(100vh - var(--headerHeight));
  width: 100%;
  position: absolute;
  left: 0;
}

.mobile-nav-menu {
  z-index: 10;
  width: 100%;
  left: 0;
  padding: .5em 0;
  background: #fff;
  border-top: 1px solid #bbb;
  box-shadow: 0 .5em 1em -1em #333;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: hidden;
  height: fit-content;
}

.mobile-nav-menu .nav-link {
  padding: .5em 0;
}

.icon-container {
  padding: 0 2rem;
  display: inline-block;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background: #333;
  margin-bottom: 6px;
  transition: 0.4s;
}

.bar3 {  
  margin-bottom: 0px;
}

.icon-container.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.icon-container.open .bar2 {opacity: 0;}

.icon-container.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

</style>