<template>
  <div class="search-history" ref="panel" :style="panelStyle" :class="{'closed': !openPanel}">
    <h1 class="panel-title title">היסטוריית חיפוש</h1>
    <div class="history-results">
      <div v-if="loggedIn && !!madorItems.length" class="history-results-wrapper my-history-results">
        <div class="history-results-title title">המדור שלי</div>
        <HistoryItem v-for="item in madorItems" :item="item" :key="item" @click="clickedResult(item)" />
      </div>
      <div v-if="loggedIn" class="history-results-wrapper my-history-results">
        <div class="history-results-title title">מדורים אחרים</div>
        <HistoryItem v-for="item in notMadorItems" :item="item" :key="item" @click="clickedResult(item)" />
      </div>
      <div v-if="!loggedIn" class="history-results-wrapper">
        <HistoryItem v-for="item in historyItems" :item="item" :key="item" @click="clickedResult(item)" />
      </div>
      <div v-if="historyItems.length == 0" class="no-results">אין היסטוריה</div>
    </div>
    <div class="panel-arrow" @click="openPanel = !openPanel">
      <div class="arrow" :class="{'down': !openPanel, 'up': openPanel}"></div>
    </div>
  </div>
</template>

<script>
import HistoryItem from './history-item.vue'

export default {
  data() {
    return {
      hasHistory: !!localStorage.getItem("searches"),
      openPanel: true,
      panelHeight: 'fit-content',
      addedHeight: 0
    }
  },
  mounted() {
    this.searchHistory();
    Promise.resolve().then(()=> {
      this.setHeight();
    })
  },
  methods: {
    setHeight() {
      this.panelHeight = this.$refs.panel.clientHeight
    },
    searchHistory() {
      if (this.hasHistory) {
        let history = JSON.parse(localStorage.getItem("searches"));
        let historyCalendars = []
        for (let item of history) {
          this.historyItems.push(item);
          historyCalendars.push({
            mador: item[0],
            year: item[1],
            selected: true
          })
        }
        this.$store.state.historyCalendars = historyCalendars
      }
    },
    clickedResult(item) {
      this.toggleCalendar(item.mador, item.year);
      this.closePanels();
    },
    addHistoryItem() {
      this.panelHeight = 'fit-content'
      Promise.resolve().then(()=> {
        this.setHeight();
      })
    }
  },
  computed: {
    historyItems() {
      return this.$store.state.historyCalendars
    },
    historyItemsArr() {
      return this.historyItems.map(x => [x.mador, x.year])
    },
    panelStyle() {
      if (this.panelHeight == 'fit-content') {
        return {
        'height': `fit-content`
        }
      } else {
        return {
          'height': `calc(${this.addedHeight}em + ${this.panelHeight}px)`
        }
      }
    },
    loggedIn() {
      return !!localStorage.getItem('mador')
    },
    loggedMador() {
      return localStorage.getItem('mador') || ''
    },
    madorItems() {
      return this.historyItems.filter(item => item.mador == this.loggedMador)
    },
    notMadorItems() {
      return this.historyItems.filter(item => item.mador != this.loggedMador)
    },
  },
  components: {
    HistoryItem
  },
  inject: ['toggleCalendar', 'closePanels']
}
</script>

<style>

.search-history {
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 .1em #ddd;
  width: 100vw;
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  transition: height .5s;
}

.history-results {
  width: 100%;
  margin-bottom: 3em;
}

.history-results-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-results {
  color: #bbb;
  text-align: center;
}

.history-results-title {
  width: fit-content;
  margin: auto;
  font-size: 1.5em;
  padding: .5em;
  font-weight: bold;
}
</style>