<template>
  <div v-wave class="result history-result" :class="{'selected': item.selected}" :data-tool="item.selected? 'הסר מלוח שנה' : 'הוסף ללוח שנה'">
    <div style="position: relative">
      {{item.mador}} - {{item.year}}
    </div>
  </div>
</template>

<script>
export default {
  props: ['item']
}
</script>

<style>
@media screen and (max-width: 700px) {

  .history-result::before {
    display: none !important;
  }

}


/* preload images */
.history-result::after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
  content:url(../assets/visibility.svg) url(../assets/visibility-off.svg);
}
/**/

.history-result {
  position: relative;
  margin: 3px;
  --back: #bbb;
  background: var(--back);
}

.history-result div::after,
.history-result div::before {
  content: "";
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  height: 1.6em;
  width: 1.6em;
  transform: translate(-150%, -50%);
  transition: opacity .1s, transform .2s;
}

.history-result div::before {
  background-image: url(../assets/visibility.svg);
  background-size: cover;
  background-position: center;
}

.history-result div::after {
  background-image: url(../assets/visibility-off.svg);
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.history-result.selected div::after {
  transform: translate(-150%, -50%) scale(.5);
  opacity: 0;
}

.history-result:not(.selected) div::before {
  transform: translate(-150%, -50%) scale(.5);
  opacity: 0;
}

</style>