<template>
  <div class="list-item" :style="{'--color': item.color, '--statusColor': item.statusColor}">
    <span class="item-task">
      <div class="task-con">{{item.task}}</div>
    </span>
    <span class="item-notes" v-if="item.notes != ''">{{item.notes}}</span>
    <span v-else></span>
    <span class="item-dates">
      <div class="dates-con" :class="{'date-passed': datePassed}" :data-tool='datePassed ? `תג"ב חורג` : null' data-tool-color="red">
        <span v-if="item.startdate.getTime() != item.enddate.getTime()" class="item-startdate">{{`${item.startdate.getDate()}.${item.startdate.getMonth()+1}.${item.startdate.getFullYear()}`}}</span>
        <span class="item-enddate">{{`${item.enddate.getDate()}.${item.enddate.getMonth()+1}.${item.enddate.getFullYear()}`}}</span>
      </div>
    </span>
    <span class="item-status">{{item.status}}</span>
  </div>
</template>

<script>
export default {
  props: ["item"],
  computed: {
    currDate() {
      return new Date()
    },
    datePassed() {
      return this.currDate > this.item.enddate && this.item.status != 'בוצע'
    }
  }
}
</script>

<style scoped>
@media screen and (max-width: 700px) {
  .list-item {
    grid-auto-flow: row !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto 1fr !important;
  }
  .item-notes {
    padding: 0 !important;
    padding-bottom: 1em !important;
  }
}

.list-item {
  margin: 0 1em;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  background: var(--color);
  background: var(--statusColor);
  border-radius: 1.1em; 
}

.list-item > span {
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-task {
  padding: 1em 2em;
}

.task-con {
  font-weight: bold;
  padding: 1em;
  color: #fff;
  background: var(--color);
  background: var(--statusColor);
  border-radius: .5em;
}

.item-notes {
  flex: 1;
  padding-left: 1em;
  font-weight: bold;
  color: #888;
}

.item-dates {
  display: flex;
  flex-direction: row;
}

.dates-con {
  background: rgba(255, 255, 255, 0.5);
  padding: .5em 0;
  border-radius: .5em;
}

.dates-con.date-passed {
  position: relative;
  background: rgba(255, 177, 177, 0.1);
  border: 2px solid rgba(255, 177, 177, 0.25);
}

.dates-con.date-passed::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -55%);
  width: 1.4em;
  height: 1.4em;
  background-image: url(../assets/error.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.item-startdate, .item-enddate {
  white-space: nowrap;
  padding: 0 1em;
}

.item-startdate {
  position: relative;
}

.item-startdate::after {
  content: "←";
  position: absolute;
  bottom: 50%;
  left: 0%;
  font-size: 1.2em;
  transform: rotate(0deg) translate(-50%, 45%);
}

.item-status {
  font-size: 1.2em;
  padding: 1rem 2rem;
  color: var(--statusColor);
  font-weight: bold;
}
</style>