<template>
  <div class="search-panel" :class="{'has-result': searchresult != '', 'closed': !openPanel}">
    <h1 class="panel-title title">חפש רשימה</h1>
    <div class="search-boxes">
      <input class="search-box" type="search" placeholder="מדור" @input="setMador" ref="mador">
      <input class="search-box" type="search" placeholder="שנה" v-model="yearToSearh" @input="sendText">
    </div>
    <div class="search-results">
      <div v-wave class="result" v-if="searchresult != '' " @click="submitSearch">{{searchresult}}</div>
    </div>
    <div class="panel-arrow" @click="openPanel = !openPanel">
    <div class="arrow" :class="{'down': !openPanel, 'up': openPanel}" ></div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      madorToSearh: '',
      yearToSearh: '',
      searchresult: '',
      foundResult: false,
      openPanel: true
    }
  },
  mounted() {
    this.$refs.mador.value = this.loggedMador
    this.madorToSearh = this.loggedMador
  },
  methods: {
    setMador(e) {
      let value = e.target.value;
      let firstWord = value.split(" ")[0];
      this.madorToSearh = firstWord != "מדור" ? "מדור "+value : value;
      this.sendText();
    }, 
    sendText() {
      this.searchCalendar(this.searchText);
    },
    async searchCalendar(text) {
      this.foundResult = false
      axios.get(text+'.json')
      .then(() => {
        this.foundResult = true;
        this.searchresult = text;
      })
      .catch(() => {
        if (!this.foundResult) {
          this.searchresult = '';
        }
      })
    },
    submitSearch() {
      this.$emit('mador', [this.madorToSearh, this.yearToSearh])
    }
  },
  computed: {
    searchText() {
      return `${this.madorToSearh} - ${this.yearToSearh}`
    },
    loggedMador() {
      return localStorage.getItem('mador') || ''
    },
    hasHistory() {
      return !!this.$store.state.historyCalendars.length
    },
  },
}
</script>

<style>


::placeholder {
  color: #bbb;
}

.has-result {
  height: 16em !important;
}


.search-panel {
  overflow: hidden;
  position: relative;
  height: 12em;
  width: 100vw;
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  transition: height .5s;
}

.search-boxes {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 1.5em;
}

.search-box {
  font-size: 1em;
  margin: .1em 0;
  background: #fff;
  color: #333;
  border: 2px solid;
  border-radius: 5px;
  border-color: #ddd;
  outline-color: #bbb;
}

.search-results {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

</style>