<template>
  <div class="field-list">
    <div class="field-title">{{list.field}}</div>
    <SortedList title="משימות בתכנון" :list="list.planned" v-if="list.planned.items.length && !onlyStuck" />
    <SortedList title="משימות תקועות" :list="list.stuck" v-if="list.stuck.items.length" />
    <SortedList title="משימות לא תקועות" :list="list.normal" v-if="list.normal.items.length && !onlyStuck" />
    <SortedList title="משימות תקועות מחודשים קודמים" :list="list.paststuck" v-if="list.paststuck.items.length" />
  </div>
</template>

<script>
import SortedList from './list-sorted.vue'

export default {
  props: ['list', 'onlyStuck'],
  components: {
    SortedList
  }
}
</script>

<style scoped>

@media screen and (max-width: 700px) {
  .field-list {
    width: 100% !important;
  }
}

.field-list {
  overflow: hidden;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 95%;
  margin-bottom: 1em;
  border-radius: 3em 3em 2em 2em;
  background: var(--dayColor);
  box-shadow: 0 0 2em hsl(228, 16%, 92%);
}

.field-title {
  width: 100%;
  text-align: center;
  color: #666;
  font-size: 1.5em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

</style>