<template>
  <div class="mador-list">
    <MadorTitle :titles="[{mador, year, color: '#333'}]"/>
    <Transition name="list-change" >
      <ListNav 
        @changeFieldsToShow="changeFieldsToShow" 
        :fields="fields"
        v-if="fieldsToShow.length"
        @toggleOnlyStuck="toggleOnlyStuck"
      />
    </Transition>
    <Transition name="list-change" >
      <div class="field-lists" v-if="listLoaded && show && fieldsToShow.length">
        <FieldList 
          v-for="field in fieldsToShow" 
          :key="field" 
          :list="fieldLists[field]" 
          :onlyStuck="onlyStuck"
        />
      </div>
    </Transition>
    <div class="no-tasks" v-if="listLoaded && !fieldsToShow.length">לא נמצאו משימות בחודש זה.</div>
    <easy-spinner v-if="!listLoaded" color="#bbb" type="circular" size="5em" />
  </div>
</template>

<script>
import fetchList from '../listJSON/index'
import MadorTitle from './madorTitle.vue'
import FieldList from './list-field.vue'
import ListNav from './list-field-nav.vue'

export default {
  props: ['mador', 'year', 'monthToShow'],
  data() {
    return {
      show: true,
      listLoaded: false,
      onlyStuck: false,
      fullList: [],
      fieldLists: {},
      fields: [],
      fieldsToShow: []
    }
  },
  watch: {
    monthToShow() {
      this.initFields()
    }
  },
  async created() {
    this.fullList = await fetchList(this.mador,this.year)
    this.initFields()
},
  methods: {
    initFields() {
      this.listLoaded = false
      let filteredList = this.filterList(this.fullList)
      this.sortIntoFields(filteredList)
      Promise.resolve().then(()=> {
        this.listLoaded = true
      })
    },
    filterList(list) {
      if (isNaN(this.monthToShow)) {
        return list
      } else {
        return list.filter(item => {
          let startMonth = item.startdate.getMonth()+1
          let endMonth = item.enddate.getMonth()+1
          return endMonth < this.monthToShow || this.monthToShow == startMonth || this.monthToShow == endMonth || (this.monthToShow>startMonth&&this.monthToShow<endMonth)
        })
      }
    },
    sortIntoFields(list) {
      this.fields = []
      this.fieldLists = {}
      for (let item of list) {
        let endMonth = item.enddate.getMonth()+1
        if (endMonth < this.monthToShow) {
          if (item.status == 'חורג' || (item.enddate < new Date() && item.status != 'בוצע')) {
            this.createFieldList(item)
            this.fieldLists[item.field].paststuck.items.push(item)
          }
        } else {
          this.createFieldList(item)
          if (item.status == 'חורג' || (item.enddate < new Date() && item.status != 'בוצע')) {
            this.fieldLists[item.field].stuck.items.push(item)
          } else if (item.status == 'בתכנון') {
            this.fieldLists[item.field].planned.items.push(item)
          } else {
            this.fieldLists[item.field].normal.items.push(item)
          }
        }
      }
      this.fieldsToShow = this.fields
    },
    createFieldList(item) {
        if (!this.fieldLists[item.field]) {
          this.fields.push(item.field)
          this.fieldLists[item.field] = {
            normal: {
              items: []
            },
            stuck: {
              items: []
            },
            planned: {
              items: []
            },
            paststuck: {
              items: []
            },
            field: item.field
          }
        }
    },
    changeFieldsToShow(fields) {
      this.show = false
      Promise.resolve().then(()=> {
        this.fieldsToShow = fields
        this.show = true
      })
    },
    toggleOnlyStuck(bool) {
      this.show = false
      Promise.resolve().then(()=> {
        this.onlyStuck = bool
        this.show = true
      })
    }
  },
  components: {
    MadorTitle,
    FieldList,
    ListNav
  }
}
</script>

<style scoped>

@media screen and (max-width: 700px) {
  .field-lists {
    width: 100%;
  }
}

.field-lists {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.list-change-enter-active,
.list-change-leave-active {
  transition: transform 0.5s ease, opacity .5s ease;
}

.list-change-enter-from,
.list-change-leave-to {
  opacity: 0;
  transform: scale(.95);
}

.mador-list {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.no-tasks {
  position: absolute;
  top: 3em;
  color: #999;
  font-size: 1.5em;
}

</style>
