<template>
  <div class="panel history-panel" :class="{'closed': !openPanel}" ref="panel">
    <h1 class="panel-title title">היסטוריית חיפוש</h1>
    <div class="items">
      <div v-wave class="item" v-for="item in historyItems" :key="item" @click="emitMador(item)" :class="{'selected': currlists.some(i => i.year == item.year && i.mador == item.mador)}">
        {{`${item.mador} - ${item.year}`}}
      </div>
      <div class="no-history" v-if="!hasHistory || !historyItems.length">אין היסטוריה</div>
    </div>
    <div class="panel-arrow" @click="openPanel = !openPanel">
      <div class="arrow" :class="{'down': !openPanel, 'up': openPanel}"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['currlists'],
  data() {
    return {
      historyItems: [],
      openPanel: true
    }
  },
  mounted() {
    this.searchHistory();
  },
  methods: {
    searchHistory() {
      this.historyItems = []
      let panel = this.$refs.panel
      panel.style.height = 'fit-content'
      if (this.hasHistory) {
        let history = JSON.parse(localStorage.getItem("searches"))
        for (let item of history) {
          let tempItem = {
            mador: item[0],
            year: item[1]
          }
          this.historyItems.push(tempItem);
        }
      }
      Promise.resolve().then(()=> {
        this.setHeight();
      })
    },
    emitMador(madorAndYear) {
      this.$emit('mador', madorAndYear)
    },
    setHeight() {
      let panel = this.$refs.panel
      panel.style.height = panel.clientHeight+'px'
    }
  },
  computed: {
    hasHistory() {
      return !!localStorage.getItem("searches")
    }
  }
}
</script>

<style>

.no-history {
  color: #bbb;
  text-align: center;
}

</style>