<template>
<Transition appear name="mador-change">
  <div class="lists-nav">
    <div v-wave class="nav-today" :class="{'shownmonth-btn': isNaN(monthToShow)}" @click="changeMonth('all')">
      כלל החודשים
    </div>
    <div class="num-nav-bar">
      <div v-wave class="nav-btn" v-for="month in months" :key="month" :class="{'shownmonth-btn': month == monthToShow, 'hastasks-btn': hasTasks(month)}" @click="changeMonth(month)">
        {{month}}
      </div>
    </div>
  </div>
</Transition>
</template>

<script>
import fetchList from '../listJSON/index'

export default {
  props: ['monthToShow', 'lists'],
  data() {
    return {
      months: [1,2,3,4,5,6,7,8,9,10,11,12],
      list: []
    }
  },
  watch: {
    async lists() {
      this.list = await fetchList(this.lists[0].mador, this.lists[0].year)
    }
  },
  async created() {
    this.list = await fetchList(this.lists[0].mador, this.lists[0].year)
  },
  methods: {
    changeMonth(month) {
      this.$emit('changeMonth', month)
    },
    hasTasks(month) {
      return !!this.list.filter(item => {
        let startMonth = item.startdate.getMonth()+1
        let endMonth = item.enddate.getMonth()+1
        return month == startMonth || month == endMonth || (month>startMonth&&month<endMonth)
      }).length
    }
  }
}
</script>

<style scoped>

.lists-nav {
  user-select: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.num-nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em 0;
}

</style>