<template>
  <div class="list-nav">
    <div v-wave class="field-btn stuck" :class="{'selected': selectedBtn == 'תקועות'}"
     @click="clickedBtn('תקועות',fields, true)">
      רק משימות תקועות
    </div>
    <div v-wave class="field-btn all-fields" :class="{'selected': selectedBtn == 'כלל התחומים'}"
     @click="clickedBtn('כלל התחומים',fields, false)">
      כלל התחומים
    </div>
    <div v-wave class="field-btn" :class="{'selected': selectedBtn == field}"
     v-for="field in fields" :key="field" 
     @click="clickedBtn(field, [field], false)">
      {{field}}
    </div>
  </div>
</template>

<script>
export default {
  props: ["fields"],
  data() {
    return {
      selectedBtn: 'כלל התחומים'
    }
  },
  watch: {
    fields() {
      this.selectedBtn = 'כלל התחומים'
    }
  },
  methods: {
    clickedBtn(btn,field,onlyStuck) {
      if (this.selectedBtn != btn) {
        this.selectedBtn = btn
        this.$emit('changeFieldsToShow', field)
        this.$emit('toggleOnlyStuck', onlyStuck)
      }
    },
  }
}
</script>

<style scoped>

.list-nav {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: .5em;
}

.field-btn {
  flex-grow: 1;
  width: fit-content;
  cursor: pointer;
  margin: .5em;
  background: #fff;
  border-radius: .5em;
  color: hsl(225, 9%, 64%);
  text-align: center;
  padding: .5em 1em;
  border: 1px solid hsl(228, 15%, 94%);
  transition: background-color .2s, color .2s, filter .2s;
}

.field-btn:hover {
  filter: brightness(95%);
}

.field-btn.stuck {
  background: rgb(255, 235, 235);
  color: rgb(255, 128, 128);
}

.field-btn.all-fields {
  background: rgb(235,246,229);  
}

.field-btn.selected {
  color: rgb(0, 98, 204);
  background: rgb(225, 239, 255);
}

</style>