<template>
  <details class="list-items" open>
    <summary class="list-title">{{title}}</summary>
    <ListItem v-for="item in items" :item="item" :key="item"/>
  </details>
</template>

<script>
import ListItem from './listItem.vue'

export default {
  props: ["list", "title"],
  computed: {
    items() {
      return [...this.list.items].sort((a,b) => { return a.startdate - b.startdate })
    }
  },
  components: {
    ListItem
  }
}
</script>

<style scoped>

.list-items {
  width: 100%;
  padding-bottom: 1em;
}

.list-items > * {
  margin-top: 10px;
}

.list-title {
  margin: 0;
  cursor: pointer;
  user-select: none;
  text-align: center;
  padding: .5rem 1em;
  font-size: 1.4em;
  color: #999;
  background: #fff;
  border-top: 2px dashed hsl(228, 15%, 94%);
  border-bottom: 2px dashed hsl(228, 15%, 94%);
}

</style>