<template>
  <div>
    <SearchPanel ref="search" @mador="emitSearchMador" />
    <HistoryPanel ref="history" @mador="emitMador" :currlists="currlists" />
  </div>
</template>

<script>
import HistoryPanel from './listHistoryPanel.vue'
import SearchPanel from './listSearchPanel.vue'

export default {
  props: ['currlists'],
  methods: {
    emitMador(madorAndYear) {
      this.$emit('mador', madorAndYear)
      this.closePanel(this.$refs.search)
    },
    emitSearchMador(item) {
      this.hasHistory = !!localStorage.getItem("searches");
      if (this.hasHistory) {
        let history = JSON.parse(localStorage.getItem("searches"));
        if (JSON.stringify(history).indexOf(JSON.stringify(item)) == -1) {
          history.push(item);
        }
        history = JSON.stringify(history);
        localStorage.setItem("searches", history)
      } else {
        let history = JSON.stringify([item]);
        localStorage.setItem("searches", history)
      }
      this.emitMador({
        mador: item[0],
        year: item[1]
      })
      this.$refs.history.searchHistory();
    },
    closePanel(ref) {
      ref.openPanel = false
    }
  },
  components: {
    HistoryPanel,
    SearchPanel
  }
}
</script>

<style>

.panel {
  overflow: hidden;
  position: relative;
  width: 100vw;
  background: #fff;
  box-shadow: 0 0 0.1em #ddd;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  transition: height .5s;
}

.panel-title {
  margin: 0.5em;
  font-size: 2em;
  transition: margin .5s ease, font-size .5s ease;
}

.panel.closed {
  height: 4em !important;
}

.closed .panel-title {
  margin-top: 0.5em;
  margin-bottom: 3em;
  font-size: 1.2em;
}

.items {
  width: 100%;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
user-select: none;
  font-weight: 700;
  cursor: pointer;
  background-color: #fff;
  color: #666;
  margin: 0.1em 0;
  font-size: 1.5em;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  box-shadow: 0 0 10px #ddd;
  padding: 0 0.5em;
  border-radius: 0.5em;
  height: 2em;
  transition: background-color .1s;
  margin: 3px;
}

.item.selected {
  color: #0062cc;
  background: #e1efff;
}

.arrow {
  --size: .3em;
  border: solid var(--color);
  border-width: 0 var(--size) var(--size) 0;
  display: inline-block;
  padding: var(--size);
  transition: transform .5s;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}



</style>