<template>
  <div class="login">
    <div class="login-status login-item" :class="{'logged-in': loggedIn}">
      {{user}}
    </div>
    <div class="login-item login-btn login-login" v-if="!loggedIn" @click="login">
      התחבר
    </div>
    <div class="login-item login-btn login-logout" v-if="loggedIn" @click="logout">
      התנתק
    </div>
  </div>
</template>

<script>
import { getUser } from '../userHelper'
export default {
  methods: {
    async login() {
      let text = prompt("הכנס שם משתמש", "") || 'לא מחובר למשתמש'
      if (text == 'לא מחובר למדור') return
      let user = await getUser(text)
      if (!user) {
        alert('משתמש לא קיים!')
        return
      }
      localStorage.setItem('user', user.name)
      this.$router.go()
    },
    logout() {
      if (confirm('להתנתק?')) {
        localStorage.removeItem('user')
        this.$router.go()
      }
    }
  },
  computed: {
    user() {
      if (localStorage.getItem('user')) {
        return localStorage.getItem('user')
      } else {
        return 'לא מחובר למשתמש'
      }
    },
    statusStyle() {
      return {
        'color': this.user == 'לא מחובר למשתמש' ? '#999' : '#666',
      }
    },
    loggedIn() {
      return this.user != 'לא מחובר למשתמש'
    }
  }
}
</script>

<style>

.login {
  user-select: none;
  position: relative;
  height: 2.4em;
  width: fit-content;
  --opacity: 0;
}

.login:hover {
  --opacity: 1;
}

.login-item {
  white-space: nowrap;
  min-width: 11em;
  overflow: hidden;
  border-radius: .5em;
  padding: .5em .5em;
  text-align: center;
  transition: opacity .2s;
}

.login-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  cursor: pointer;
  opacity: var(--opacity);
  color: #fff;
}

.login-status {
  background: #eee;
  color: #bbb;
}

.login-status.logged-in {
  color: #fff;
  background: #333;
}

.login-logout {
  background: #dc3545
}

.login-login {
  background: #28a745
}
</style>