<template>
  <div class="mador-title">
    <div class="mador" v-for="(title,index) in titles" :key="title" :style="{'--color': title.color}" :class="{'not-first': index != 0}">
      <div class="mador-color"></div>
      <div class="mador-text" >
        {{title.mador}} - {{title.year}}
      </div>
      <!-- <a href="/" target="_blank"><div class="mador-link" data-tool="הוספת משימות"></div></a> -->
    </div>
  </div>
</template>

<script>
export default {
  props: ['titles'],
}
</script>

<style scoped>

@media screen and (max-width: 700px) {
  .mador-link::before {
    display: none !important;
  }
}

.mador-title {
  z-index: 1;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: .5em 0;
}

.mador {
  text-align: center;
  display: flex;
  align-items: flex-end;
  position: relative;
  border-radius: 0 0 .6em 0;
  border-bottom: 2.5px solid var(--color);  
}

.mador-color {
  border-radius: .25em;
  border-radius: .5em .5em .5em 0;
  height: 1.1em;
  width: 1.1em;
  background: var(--color);
  margin-bottom: -.05em;
}

.mador-text {
  margin-bottom: -.1em;
  position: relative;
  /* padding-right: .3em; */
  padding: 0 .4em;
}

.mador.not-first::after {
  /* content: ""; */
  position: absolute;
  right: 0;
  height: 1em;
  width: 1px;
  background: #bbb;
}

.mador-link {
  margin-bottom: -.1em;
  height: 1.2em;
  width: 1.2em;
  background-image: url(../assets/plus.svg);
  background-position: center;
  background-size: cover;
}

</style>