<template>
  <Transition appear name="fade">
  <div class="popup-task" v-if="open" @click="closePopup" ref="backdrop">
  <Transition appear name="show-box">
    <div class="popup-window" :style="popupStyle">
        <span v-wave class="close-btn" @click="open = false">×</span>
        <div class="popup-status" :status="popupData.status">
          {{popupData.status}}
        </div>
        <div class="popup-field" :field="popupData.field">
          {{popupData.field}}
        </div>
        <div class="popup-text">
          {{popupData.task}}
        </div>
        <div class="popup-dates">
          {{popupData.startdate}} 
          {{popupData.startdate != popupData.enddate ? '&#8592;' + popupData.enddate : ''}}
        </div>
        <div class="popup-notes" v-if="popupData.notes != ''">
          <div class="notes-title">הערות</div>
          {{popupData.notes}}
        </div>
    </div>
  </Transition>
  </div>
  </Transition>
</template>

<script>
export default {
  data() {
    return {
      open: false,
      popupData: {
        field: '',
        task: '',
        startdate: '',
        enddate: '',
        notes: ''
      },
      color: '',
      statusColor: ''
    }
  },
  methods: {
    closePopup(e) {
      let backdrop = this.$refs.backdrop
      if (e.target == backdrop) {
        this.open = false
      }
    },
    popup(task) {
      this.popupData.field = task.field
      this.popupData.task = task.task
      this.popupData.startdate = `${task.fullstartdate.getDate()}.${task.fullstartdate.getMonth()+1}.${task.fullstartdate.getFullYear()}`
      this.popupData.enddate = `${task.fullenddate.getDate()}.${task.fullenddate.getMonth()+1}.${task.fullenddate.getFullYear()}`
      this.popupData.status = task.status
      this.popupData.notes = task.notes != '' ? task.notes : ''
      this.statusColor = task.statusColor
      this.color = task.color
      this.open = true
    }
  },
  computed: {
    popupStyle() {
      return {
        '--color': this.color,
        '--statusColor': this.statusColor,
      }
    }
  },
  provide() {
    return {
      popup: this.popup
    }
  }
}
</script>

<style>

.show-box-enter-active,
.show-box-leave-active {
  transition: transform 0.5s ease, opacity .5s ease;
}

.show-box-enter-from,
.show-box-leave-to {
  opacity: 0;
  transform: scale(.9);
}

.popup-task {
  font-size: 1.5em;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .7em;
  background: rgba(0, 0, 0, 0.2);
}

.popup-window {
  overflow: hidden;
  position: relative;
  padding: 1em 2em 2em 2em;
  width: fit-content;
  min-height: 10em;
  max-width: 90%;
  border-radius: .5em;
  background: #fff;
  box-shadow: 0 0 1em #bbb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.popup-window > div {
  padding: .5em;
}

.popup-window > hr {
  width: 90%;
  border: dashed 1px #bbb;
}

.popup-field {
  color: var(--color);
  font-size: 0.9em;
  border-radius: .5em;
}

.popup-text {
  border-radius: .5em;
  background: var(--color);
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}

.popup-dates {
  color: #333;
  font-size: 0.8em;
}

.popup-status {
  font-size: .9em;
  position: relative;
  color: var(--statusColor);
  font-weight: bold;
  padding: .1em 1em !important;
  text-align: center;
  background: var(--statusColor);
  position: absolute;
  border-radius: .5em .5em 0 0;
  bottom: 0;
}

.popup-status::before {
  content: attr(status);
  font-weight: bold;
  border-radius: inherit;
  padding: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background: hsla(0, 0%, 100%, 0.8);
  transform: scale(1.05);
}

.popup-notes {
  position: relative;
  margin-top: 1em;
  color: #555;
  font-size: 0.8em;
  min-width: 5em;
  border: solid 2px #eee;
  border-radius: .5em;
  padding-top: 1em !important;
  background: #fff;
}

.notes-title {
  font-weight: bold;
  background: #eee;
  color: #aaa;
  border: solid 2px #eee;
  width: fit-content;
  padding: .1em .2em;
  border-radius: .5em;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
}

.close-btn {
  user-select: none;
  border-radius: 0 0 0 .5rem;
  cursor: pointer;
  color: #bbb;
  padding: 0 .35em;
  padding-bottom: .1em;
  font-size: 1.3em;
  position: absolute;
  top: 0;
  right: 0;
  transition: background-color .2s;
}

.close-btn:hover {
  color: red;
  background: #ffe0e0;
}

</style>