<template>
  <div id="app-wrapper">
    <Header></Header>
    <router-view />
    <Footer></Footer>
  </div>
</template>

<script>
import Footer from './components/footer.vue'
import Header from './components/header.vue'
import { getMadors } from './userHelper'

export default {
  created() {
    if (localStorage.getItem('user')) {
      this.setUserMadors(localStorage.getItem('user'))
    } else {
      // FOR DEMO - DELETE IN PROD
      localStorage.setItem("searches", JSON.stringify([
        ["מדור פלא","2021"],
        ["מדור מפקדות ותחקור","2021"],
      ]))
      //
    }
  },
  methods: {
    async setUserMadors(user) {
      let madors = await getMadors(user)
      if (localStorage.getItem('searches') != JSON.stringify(madors)) {
        localStorage.setItem("searches", JSON.stringify(madors))
        this.$router.go()
      } else {
        localStorage.setItem("searches", JSON.stringify(madors))
      }
    }
  },
  components: {
    Footer,
    Header
  }
};
</script>

<style>
::selection {
  background: #888;
}

:root {
  font-size: 85%;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  direction: rtl;
  overflow: overlay;
  overflow-x: hidden;

  --dotColor: #999;
  background: linear-gradient(90deg, #fff 21px, transparent 1%) center, linear-gradient(#fff 21px, transparent 1%) center, var(--dotColor);
  background-size: 22px 22px;

  --shadowColor: #33333333;
  --dayColor: hsl(214, 100%, 99%);
  --resultColor: #000;
}

#app {
  height: 100%;
}

#app-wrapper {   
  --headerHeight: 4em;
  height: 100%;
  display: grid;
  grid-template-rows: var(--headerHeight) 1fr auto;
}

#app-wrapper > :nth-child(1) {
  grid-row: 1;
}
#app-wrapper > :nth-child(2) {
  grid-row: 2;
}
#app-wrapper > :nth-child(3) {
  grid-row: 3;
}

a {
  text-decoration: none;
  color: #fff;
}

.title {
  -webkit-text-fill-color: hsl(0, 0%, 95%);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #aaa;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s ease !important;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-down-enter-active,
.fade-down-leave-active {
  transition: transform 1s ease, opacity 1s ease;
  top: 0;
}

.fade-down-enter-from,
.fade-down-leave-to {
  position: absolute !important;
  opacity: 0;
  transform: translateY(-5vh);
}

.fade-up-enter-active,
.fade-up-leave-active {
  transition: transform 1s ease, opacity 1s ease;
  top: 0;
}

.fade-up-enter-from,
.fade-up-leave-to {
  position: absolute !important;
  opacity: 0;
  transform: translateY(5vh);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #eee;
}
 
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

[data-tool] {
  position: relative;
}

[data-tool]::before {
  z-index: 1;
  font-weight: normal;
  pointer-events: none;
  content: attr(data-tool);
  font-size: 1.2rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -75%) scale(.75);
  width: fit-content;
  white-space: nowrap;
  padding: .5em 1em;
  transition: opacity .2s, transform .2s;
  opacity: 0;
  background-color: #fff;
  color: #666;
  border-radius: 2em;
  background-color: #fff;
  box-shadow: 0 0 .5em #bbb;
  text-shadow: none;
}

[data-tool]:hover:before {
  display: block;
  opacity: 1;
  transform: translate(-50%, -100%) scale(1);
}

[data-tool-color=red]::before {color: #7e0000;}
[data-tool-color=green]::before {color: rgb(0, 63, 0);}

</style>